<h2 class="header">Your Shopping Cart</h2>
<div class="cartitems">
    <div class="cartlist">
        <ul>
            {{#if cartItems}}
            {{#each cartItems}}
            <li>
                <div style="display: inline;">
                    <h3 style="display: inline; padding:12px">{{this.name}}</h3>
                    <h4 style="display: inline; padding:12px"> ${{this.price}}</h4>
                    <!-- Add a button to remove items from the cart -->
                    {{!-- <form style="display: inline; padding:12px" method="POST" action="/removeFromCart">
                        <input type="hidden" name="cartItemId" value="{{this._id}}">
                        <input type="hidden" name="cartItemName" value="{{this.name}}">
                        <input class="addtocart" type="submit" value="Clear Cart">
                    </form> --}}
                </div>

            </li>
            {{/each}}

        </ul>

    </div>


    <div class="checkout">
        <p>Total: ${{totalPrice}}</p>
        <!-- Add a button to proceed to checkout -->
        <div style="display: flex;">
            <form style="display: inline; padding:12px" method="POST" action="/emptyCart">
                <input type="hidden" name="cartItemId" value="{{this._id}}">
                <input type="hidden" name="cartItemName" value="{{this.name}}">
                <input class="addtocart" type="submit" value="Clear Cart">
            </form>
            <a style=" padding:12px" href="/checkout">Checkout </a>
        </div>
        <br><br><br>

        <a href="/menus">Shop more!</a>
    </div>

</div>
{{else}}
<div>
    <div class="emptycart">
        <h3>
            Cart Is empty <br>



        </h3>
    </div>

    <button class="shop" style="background-color: black; color:white !important; padding: 6px">
        <a class="" style="text-decoration: none;  color:white !important; padding: 12px; font-size:large"
            href="/menus">Shop here!</a>
    </button>
</div>

{{/if}}