<h2 class="header">Order Confirmation</h2>
<div class="orderconf">

    <p>Thank you {{name}} for placing your order with us!</p>
    <p>Your order has been successfully placed.</p>
    <p>
        Cart Items:
        {{#each cartItems}}
    <div>
        {{this.name}}
        {{this.price}}
    </div>

    {{/each}}
    </p>
    <p>Total Amount of you order: {{totalPrice}}</p>

    <p>Your Order Confirmation Number:
    <h3 style="color: red;">{{ confirmationNumber }}</h3>
    </p>
    <p>We will process your order shortly.</p>
    <p>For any inquiries, please contact us at support@example.com.</p>

</div>